extend layouts/layout.jade

block navbar
	include partials/navbar.jade

block content
	h1
	hr
	hr

	h1
		span Content
		| Another Content
	ul
		li
			a(href="#") link
		li
			a(href="#") link
		li
			a(href="#") link
	h2: a(href="#"): span 連結
	hr
	.container
		form(action="")
			label(for="email") 請輸入email
			input#email(type="text")